body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#taskInput {
    padding: 8px;
    width: 200px;
    margin: 10px;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px auto;
    width: 50%;
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}


/* Icons */
.task-icon {
    width: 24px;
    height: 24px;
    background: url('../media/task-icon.png') no-repeat center;
    background-size: contain;
    display: inline-block;
}

.complete-icon {
    width: 24px;
    height: 24px;
    background: url('../media/complete-icon.png') no-repeat center;
    background-size: contain;
    display: inline-block;
}

.delete-icon {
    width: 24px;
    height: 24px;
    background: url('../media/delete-icon.png') no-repeat center;
    background-size: contain;
    display: inline-block;
}
